Django==5.2.1
djangorestframework==3.16.0
django-environ==0.12.0
psycopg2-binary==2.9.10
pillow==11.2.1
django-cors-headers==4.7.0
python-dotenv==1.1.0
ipython==9.2.0
drf-nested-routers==0.94.2
drf-spectacular==0.28.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
gunicorn==23.0.0
requests-oauthlib==2.0.0
gevent==25.5.1
pyjwt==2.9.0
django-filter==25.1

# Test dependencies
pytest==8.0.0
pytest-django==4.8.0
pytest-cov==4.1.0
factory-boy==3.3.0